@import './variables/paths';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

@import './vendor-variables';

@import 'variables';

@import './mixins/generic';

@import "./bootstrap";

$rw-img-path: '~react-widgets/dist/img';
@import "~react-widgets/lib/scss/variables";
@import "~react-widgets/lib/scss/bootstrap-theme";
@import "~react-widgets/lib/scss/mixins";
@import "~react-widgets/lib/scss/core";
@import "~react-widgets/lib/scss/popup";
@import "~react-widgets/lib/scss/selectlist";
@import "~react-widgets/lib/scss/multiselect";

@import '../../../shared/resources/styles/main.scss';

.qk {
  padding: 0;
  @import '~bootstrap/dist/css/bootstrap.min';
  @import './../../src/components/qk/qkstyles';

  .subject-card > .forum.card-body:hover {
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
  }
}

@import "global/defaults";
@import "global/widgets";
@import "./navbar";

@import "./exercises";
@import "./exercise/preview";
@import "./vocabulary";
@import './tags';
@import './preview';

.exercises.container-fluid {
  padding: 0;
}

.exercises-body {
  margin-top: 120px;
}

body {
  overflow-x: hidden;
}