.jumbotron {
  background-color: initial;
}

h5.card-title {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  padding-bottom: .5em;
}

h5.card-title + p.card-text {
  text-align: center;
}
