/* Increase font size */
.bigger {
  font-size: 200%;
}

/* Initial paragraph style for welcome message */
#welcome {
  font-size: 55px;
  vertical-align: middle;
}

/* Image style for the kitchen */
.kitchen-picture{
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.qk.exercises.container-fluid {
  padding: 0;
  overflow: hidden;
}