.forum-toolbar {
  background: @tutor-white;
  max-width: @tutor-task-width;
  margin: 0 auto;
  overflow: visible;

  .row {
    max-width: @tutor-task-width;
    margin: 0;
  }

  .new-post-modal-col {
    padding-left: 0px;
    text-align: right;
    .new-post-button {
      margin-right: 0px;
      margin-left: 0px;
      white-space: normal;
    }
  }
  .toolbar-tag-col {
    padding-right: 0px;
  }

  #chapter-tag-button {
    margin-right: 0px;
    margin-left: 0px;
    font-weight: 600;
    color: @tutor-white;
    text-transform: capitalize;
  }
  #topic-tag-button {
    margin-right: 0px;
    margin-left: 0px;
    font-weight: 600;
    color: @tutor-white;
    text-transform: capitalize;
  }
}