.student-forum {

  .post-date, .post-date-label { padding-left: 0px; }

  .post-info { padding-left: 0px; }

  .panel {
    margin: 0px;
  }

  .row {
    max-width: @tutor-task-width;
    margin: 0 auto;
  }

  .post.active {
    .icon {
      background-image: url("../../../images/icons/icon-question-mark.svg");
      background-position: center;
      // * 10 on icon-size-lg because less doesn't automatically convert icon-size-lg to px
      margin: (@student-dashboard-row-height - @icon-size-lg * 10)/2;
    }
  }
  .post.resolved {
    .icon {
      background-image: url("../../../images/icons/icon-check.svg");
      background-position: center;
      // * 10 on icon-size-lg because less doesn't automatically convert icon-size-lg to px
      margin: (@student-dashboard-row-height - @icon-size-lg * 10)/2;
    }
  }
  .post {
    background: @tutor-white;
    border-top: thin dotted @tutor-neutral-light;
    position: relative;
    cursor: pointer;

    transition: all 0.1s ease-in;

    .post-data
    {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.75s ease-in-out;
      .tag-row {
        margin-bottom: 10px;
        line-height: 1em;
      }
      .label {
        margin-left: 0px;
        margin-right: 10px;
      }
      .post-text-row {
        margin-bottom: 5px;
        .post-text {
          word-wrap: break-word;
          white-space: pre-line;
        }
      }
      .comment-alert-col{
        padding-left: 0px;
        .comment-alert {
          //Alert
          padding: 15px;
          margin-top: 10px;
          margin-bottom: 10px;
          border: 1px solid transparent;
          border-radius: 4px;

          //Warning alert
          background-color: #fcf8e3;
          border-color: #faebcc;
          color: #8a6d3b;
        }
      }
      .comment-row {
        .reply-prompt-col {
          text-align: right;
          padding: 0px;
          font-weight: bold;
          margin-top: 1px;
          margin-right: 4px;
          white-space: nowrap;
          .reply-prompt {
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
          }
        }
        &:hover {
          background-color: @tutor-neutral-lightest;
          cursor: pointer;
          .reply-prompt-col {
            .reply-prompt {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
      .comment {
        border-top: thin solid @tutor-neutral-light;
        padding: 0px;
        word-wrap: break-word;
        white-space: pre-line;
        .comment-author {
          font-weight: bold;
        }
      }
      .comment-post-date {
        border-top: thin solid @tutor-neutral-light;
        padding: 0px;
      }
      .comment-form {
        padding: 0px;
        margin-top: 5px;
        textarea {
          .tutor-text-area(); //at bottom of this file
        }
        .comment-box {
          padding: 0px;
        }
        .comment-submit-button {
          margin: 0px;
        }
      }
      .retract-row {
        margin-top: 5px;
        &:hover {
          background-color: @tutor-neutral-lighter;
          cursor: pointer;
        }
        .retract-button {
          text-align: center;
          border-top: thin solid @tutor-neutral-light;
        }
      }
    }

    &:hover {
      background-color: @tutor-neutral-lightest;
      .icon { .tutor-icon-active(1.2); }
    }
    // if the screen is wide enough, set a height and use line-height to vertically center content.
    // This breaks when the responsive small view kicks in and it becomes multi-line
    .column-icon {
      height: @student-dashboard-row-height;
      padding: 0;
    }
    &.deleted {
      opacity: 0.5;
    }
    .title {
      padding-left: 0;
      font-weight: bold;
      line-height: @student-dashboard-row-height;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .post-info {
      line-height: @student-dashboard-row-height;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right;
      .post-date-label {
        font-weight: bold;
        color: @tutor-neutral-light;
      }
    }
    i.info {
      .fa-icon();
      margin-left: 0.5rem;
      &.incomplete::before {
        content: @fa-var-exclamation-circle;
        color: @tutor-warning;
      }
      &.late::before {
        content: @fa-var-clock-o;
        color: @tutor-danger;
      }
    }

    // Adjust height for when the columns collapse and progress appears below task title
    @media screen and ( max-width: @screen-sm-min ){
      .column-icon {
        text-align: center;
        height: @student-dashboard-row-height;
      }
      .title, .post-info {
        line-height: @student-dashboard-row-height / 2;
      }
      .post-info {
        text-align: left;
      }
    }
  }
  .post.expanded {
    cursor: default;
    .post-data{
      max-height: 9999px;
    }
    &:hover {
      background-color: @tutor-white;
    }
    .icon { .tutor-icon-active(1.2); }
  }
}