.post-form-modal {
  .post-form-header {
    .modal-title {
      border-bottom: thin solid @tutor-neutral-light;
      font-weight: bold;
    }
    margin-bottom: 5px;
  }
  .post-form-body {
    padding: 0px;
    width: auto;
    height: auto;
    .post-form-title {
      .tutor-text-area();
    }
    .post-form-text {
      .tutor-text-area();
      min-height: 282px;
      overflow: auto;
    }
    .chapter-tag-select {
      display: inline-block;
      margin-bottom: 5px;
    }
    .section-tag-select {
      display: inline-block;
      margin-bottom: 5px;
    }
    .topic-tag-select {
      margin-bottom: 5px;
    }
    .row {
      margin-left: 24px;
      margin-right: 24px;
    }
    .post-submit-row {
      text-align: right;
      .post-submit-button {
        margin-right: 0px;
      }
    }
  }
}