.student-forum {
  .post-date, .post-date-label { padding-left: 0px; }
  
  .row {
    max-width: @tutor-task-width;
    margin: 0 auto;
  }
  .post {
    background: @tutor-white;
    border-top: thin dotted @tutor-neutral-light;
    position: relative;
    cursor: pointer;

    transition: all 0.1s ease-in;

    .post-data
    {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.6s ease-in-out;
      .post-text-row {
        margin-bottom: 15px;
      }
      .comment {
        border-top: thin solid @tutor-neutral-light;
        padding: 0px;
        .comment-author {
          font-weight: bold;
          margin-right: 5px;
        }
      }
      .comment-form {
        padding: 0px;
        margin-top: 5px;
        textarea {
          resize: none;
          overflow: hidden;
          display: inline-block;
          width: 100%;
          min-height: 42px;
          height: 42px;
          padding: 6px 12px;
          font-size: 15px;
          font-family: 'Lato', Helvetica, sans-serif;
          font-style: normal;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: thin solid @tutor-neutral-light;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
          -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
          -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
          &:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
          }
          &::-webkit-input-placeholder {
            font-size: 15px;
            font-family: 'Lato', Helvetica, sans-serif;
            font-style: normal;
          }
          &::-moz-placeholder {
            font-size: 15px;
            font-family: 'Lato', Helvetica, sans-serif;
            font-style: normal;
          }
        }
        .comment-box {
          padding: 0px;
        }
        .comment-submit-button {
          margin: 0px;
        }
      }
      .retract-row {
        margin-top: 5px;
        &:hover {
          background-color: @tutor-neutral-lighter;
        }
        .retract-button {
          text-align: center;
          border-top: thin solid @tutor-neutral-light;
        }
      }
    }

    &:hover {
      background-color: @tutor-neutral-lightest;
      .icon { .tutor-icon-active(1.2); }
    }
    // if the screen is wide enought, set a hight and use line-height to vertically center content.
    // This breaks when the responsive small view kicks in and it becomes multi-line
    .column-icon {
      height: @student-dashboard-row-height;
      padding: 0;
    }
    &.deleted {
      opacity: 0.5;
    }
    .icon {
      background-position: center;
      // * 10 on icon-size-lg because less doesn't automatically convert icon-size-lg to px
      margin: (@student-dashboard-row-height - @icon-size-lg * 10)/2;
    }
    .title {
      padding-left: 0;
      font-weight: bold;
    }
    .title, .author, .post-date {
      line-height: @student-dashboard-row-height;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    i.info {
      .fa-icon();
      margin-left: 0.5rem;
      &.incomplete::before {
        content: @fa-var-exclamation-circle;
        color: @tutor-warning;
      }
      &.late::before {
        content: @fa-var-clock-o;
        color: @tutor-danger;
      }
    }

    // Adjust height for when the columns collapse and progress appears below task title
    @media screen and ( max-width: @screen-sm-min ){
      .column-icon {
        text-align: center;
        height: @student-dashboard-row-height;
      }
      .title, .author, .post-date {
        line-height: @student-dashboard-row-height / 2;
      }
      // match the 0 left padding of the description
      .author { padding-left: 0; }
    }
  }
  .post.expanded {
    .post-data{
      max-height: 1500px;
    }
    &:hover {
      background-color: @tutor-white;
      // .icon {
      //   .scale(1);
      //   border: none;
      //   box-shadow: none;
      // }
    }
    .icon { .tutor-icon-active(1.2); }
  }
}